Lab5_Client1/Lab5_Client1/Connected Services/WCFSimplexReference/WCFSimplex.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WCFSimplex" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Lab5/Service1/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Lab5/Service1/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Lab5/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Lab5" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="WCFServiceInterface_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="WCFServiceInterface_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="WCFServiceInterface_Concat_InputMessage">
    <wsdl:part name="parameters" element="tns:Concat" />
  </wsdl:message>
  <wsdl:message name="WCFServiceInterface_Concat_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConcatResponse" />
  </wsdl:message>
  <wsdl:message name="WCFServiceInterface_Sum_InputMessage">
    <wsdl:part name="parameters" element="tns:Sum" />
  </wsdl:message>
  <wsdl:message name="WCFServiceInterface_Sum_OutputMessage">
    <wsdl:part name="parameters" element="tns:SumResponse" />
  </wsdl:message>
  <wsdl:portType name="WCFServiceInterface">
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/WCFServiceInterface/Add" message="tns:WCFServiceInterface_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/WCFServiceInterface/AddResponse" message="tns:WCFServiceInterface_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Concat">
      <wsdl:input wsaw:Action="http://tempuri.org/WCFServiceInterface/Concat" message="tns:WCFServiceInterface_Concat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/WCFServiceInterface/ConcatResponse" message="tns:WCFServiceInterface_Concat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Sum">
      <wsdl:input wsaw:Action="http://tempuri.org/WCFServiceInterface/Sum" message="tns:WCFServiceInterface_Sum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/WCFServiceInterface/SumResponse" message="tns:WCFServiceInterface_Sum_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_WCFServiceInterface" type="tns:WCFServiceInterface">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/WCFServiceInterface/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Concat">
      <soap:operation soapAction="http://tempuri.org/WCFServiceInterface/Concat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sum">
      <soap:operation soapAction="http://tempuri.org/WCFServiceInterface/Sum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WCFSimplex">
    <wsdl:port name="BasicHttpBinding_WCFServiceInterface" binding="tns:BasicHttpBinding_WCFServiceInterface">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Lab5/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>