Lab4_WinForm_client/Lab4_WinForm_client/Connected Services/Lab4ServiceReference/Simplex.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://svv/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://svv/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">WebServices lab #4</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://svv/">
      <s:element name="Sum_1">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="x" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="y" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Sum_1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Sum_1Result" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Sum_2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="s" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="d" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Sum_2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Sum_2Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Sum_3">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="a1" type="tns:A" />
            <s:element minOccurs="0" maxOccurs="1" name="a2" type="tns:A" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="A">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="s" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="k" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="f" type="s:float" />
        </s:sequence>
      </s:complexType>
      <s:element name="Sum_3Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Sum_3Result" type="tns:A" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Sum_1SoapIn">
    <wsdl:part name="parameters" element="tns:Sum_1" />
  </wsdl:message>
  <wsdl:message name="Sum_1SoapOut">
    <wsdl:part name="parameters" element="tns:Sum_1Response" />
  </wsdl:message>
  <wsdl:message name="Sum_2SoapIn">
    <wsdl:part name="parameters" element="tns:Sum_2" />
  </wsdl:message>
  <wsdl:message name="Sum_2SoapOut">
    <wsdl:part name="parameters" element="tns:Sum_2Response" />
  </wsdl:message>
  <wsdl:message name="Sum_3SoapIn">
    <wsdl:part name="parameters" element="tns:Sum_3" />
  </wsdl:message>
  <wsdl:message name="Sum_3SoapOut">
    <wsdl:part name="parameters" element="tns:Sum_3Response" />
  </wsdl:message>
  <wsdl:portType name="SimplexSoap">
    <wsdl:operation name="Add">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Return sum of two ints</wsdl:documentation>
      <wsdl:input name="Sum_1" message="tns:Sum_1SoapIn" />
      <wsdl:output name="Sum_1" message="tns:Sum_1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Concat">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Return concat of string and double</wsdl:documentation>
      <wsdl:input name="Sum_2" message="tns:Sum_2SoapIn" />
      <wsdl:output name="Sum_2" message="tns:Sum_2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Sum">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Return new object from two provided</wsdl:documentation>
      <wsdl:input name="Sum_3" message="tns:Sum_3SoapIn" />
      <wsdl:output name="Sum_3" message="tns:Sum_3SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SimplexSoap" type="tns:SimplexSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://svv/Sum_1" style="document" />
      <wsdl:input name="Sum_1">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Sum_1">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Concat">
      <soap:operation soapAction="http://svv/Sum_2" style="document" />
      <wsdl:input name="Sum_2">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Sum_2">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sum">
      <soap:operation soapAction="http://svv/Sum_3" style="document" />
      <wsdl:input name="Sum_3">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Sum_3">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SimplexSoap12" type="tns:SimplexSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap12:operation soapAction="http://svv/Sum_1" style="document" />
      <wsdl:input name="Sum_1">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Sum_1">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Concat">
      <soap12:operation soapAction="http://svv/Sum_2" style="document" />
      <wsdl:input name="Sum_2">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Sum_2">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sum">
      <soap12:operation soapAction="http://svv/Sum_3" style="document" />
      <wsdl:input name="Sum_3">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Sum_3">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Simplex">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">WebServices lab #4</wsdl:documentation>
    <wsdl:port name="SimplexSoap" binding="tns:SimplexSoap">
      <soap:address location="http://localhost:64888/Simplex.asmx" />
    </wsdl:port>
    <wsdl:port name="SimplexSoap12" binding="tns:SimplexSoap12">
      <soap12:address location="http://localhost:64888/Simplex.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>